* {
    font-family: Courier New, monospace;
}


  a {
      background-color: purple;
      color: white;
      text-decoration: none;
  }

  .flex1 {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

  }
  .flex2 {
    display: flex;
    flex-direction: column;
   
  }
